# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/.htaccess
/index.php
/license.txt
/wp-activate.php
/readme.html
/wp-admin/about.php
/wp-admin/admin-ajax.php
/wp-admin/admin-footer.php
/wp-admin/admin-functions.php
/wp-admin/admin-header.php
/wp-admin/admin-post.php
/wp-admin/admin.php
/wp-admin/async-upload.php
/wp-admin/comment.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-admin/
/wp-includes/
